body{
    margin: 0;
    padding: 0;
}

.main{
    text-align: center;
    margin-top: 24vb;
    display: flex;
    justify-content: center;


}

.hero{
    width: 30%;
    background: #98f2d4;
    border-radius: 10px;
    border: none;
    height: 180px;
    height: auto;

}

input{
    width: 80%;

    height: 35px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    text-align: center;

}

button{

    width: 40%;
height: 35px;
border-radius: 10px;
border: none;
background: #4c628d;
color: white;
font-weight: bold;
cursor: pointer;


}

button:hover{
    background: #9a0d0d;
    transition: .2s;
}