*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

background: #24b1c7;

}

.main{
background:transparent;
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#countlabel{
    font-size: 15rem;
    color: rgb(249, 204, 149);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif ;

}

button{
    padding: 10px 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    gap: 10px;
    transition: background-color 0.3s ease;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover{
    background-color: #81eb95;
    transform: scale(1.1);
}